* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container-fluid.bg {
    width: 100%;
    height: 100vh;
    padding: 0;
    background: linear-gradient(#009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
  }

  .wrapper {
    width: 85%;
    height: 90%;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    overflow: hidden;
  }

  .left-column, .right-column {
    background: #EAEAEA;
  }

  .left-icon img {
      width: 50px;
      height: 50px; 
  }

  textarea:focus, input:focus {
    outline: none;
  }

  .left-header, .right-header {
      max-height: 46px;
      padding: 15px;
  }

  .left-searchbar {
    width: 100%;
    height: 50px;
    background: #FAFAFA;
  }

  .left-searchbar .left-searchbar-input {
    float: right;
    width: calc(85% - 7px);
    height: 36px;
    margin: 7px 7px 7px 0;
    padding: 0 10px;
    border-left: 0;
    border-top: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0px 3px 3px 0;
    color: #B6B9BB;
  }
  
  .height-row {
      height: 70%;
  }

.contact-list {
    max-height: 60%;
    overflow-y: scroll;
}
  
  
  .contact-color {
    background-color: #fff;
  }
  
  .contact:hover {
    background-color: #f4f5f5;
  }

  .contact-list img {
      width: 50px;
      height: 50px;
  }